*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-clr: rgba(254, 252, 252, 0.607);
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

#clocksection{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    background-color: var(--bg-clr);
    padding: .7rem 1rem;
    border-radius: 20px;
    margin: 1rem;
}

#clock, #date{
    font-weight: 600;
}

#title{
    font-size: 2.7rem;
    text-align: center;
    background-color: var(--bg-clr);
    padding: 1rem 2rem;
    border-radius: 40px;
}

#title:focus,
#title:active{
    outline: none;
}

.container{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.section{
    background-color: var(--bg-clr);
    height: 35vh;
    width: 20vw;
    border-radius: 20px;
}

h2{
    text-align: center;
    margin: .5rem;
}

#notesection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

#notes{
    background: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 95%;
    height: 80%;
    border: none;
    
}

#notes:focus,
#notes:active{
    outline: none;
}

#linkcontainer{
    height: 60%;
}

li{
    list-style: none;
    text-align: center;
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#headlineinput,
#urlinput{
    background-color: var(--bg-clr);
    border-radius: 30px;
    width: 37%;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
}

#headlineinput:focus,
#urlinput:active,
#urlinput:focus,
#headlineinput:active{
    outline: none;
}

.deletebutton{
    background-color: transparent;
    font-size: 1.1rem;
    border: none;
    border-radius: 50%;
    margin-left: .5rem;
}

.deletebutton:hover{
    cursor: pointer;
}

#tempicon{
    height: 1.2rem;
}

#weathersection{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

#temperature{
    font-size: 2.3rem;
}

#windspeed{
    margin: .5rem;
}

#description{
    font-weight: 500;
    font-size: 1.2rem;
}

#jokeholder{
    text-align: center;
    font-size: .8rem;
    padding: .5rem;
}

#externalapi{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#generatebutton{
    font-family: 'Poppins', sans-serif;
    padding: .2rem .4rem;
    background-color: var(--bg-clr);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: .8rem;
    font-weight: 600;
}

#generatebutton:hover{
    cursor: pointer;
}

#joke,
#setup{
    font-weight: 600;
}

#randombackground{
    font-family: 'Poppins', sans-serif;
    padding: .2rem .4rem;
    background-color: var(--bg-clr);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: .8rem;
    font-weight: 600;
}

#todaysjoke{
    margin-bottom: 0;
}

input{
    margin-left: 1rem;
}

@media (max-width: 750px){ 
    
    .container{
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .section{
        width: 80%;
        height: 60%;
    }
    
    h2{
        font-size: 1.7rem;
    }

    h1{
        font-size: 2rem;
    }

    input{
        margin: 1rem .3rem;
    }
}